<!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-light sticky-top"  style="background-color: var(--color-primary);">
    <div class="container" >
      <!-- Logo -->
      <a class="navbar-brand text-white" href="/">Mailer<span style="color: var(--color-accent)">Action</span></a>

      <!-- Botón hamburguesa para dispositivos móviles -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menú de navegación -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#features">Características</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#pricing">Precios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#about">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#contact">Contacto</a>
          </li>
          <li class="nav-item">
            <%= link_to "Iniciar sesión", web_login_path, class: "btn btn-outline-light ms-3" %>
          </li>
          <li class="nav-item">
            <a href="/register" class="btn btn-outline-light ms-3">Registrarse</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
