
/* Estilos para los botones "Iniciar" y "Registrarse" */
.navbar .btn.btn-outline-primary {
  background-color: #8e2de2;
  color: white;
  font-weight: bold;
  border: 2px solid var(--button-border);
  transition: background-color 0.3s ease, border 0.3s ease; /* Solo cambio de color y borde en hover */
  padding: 0.5rem 1.2rem; /* Ajusta el tamaño del botón */
  border-radius: var(--radius);
  box-sizing: border-box; /* Asegura que el tamaño no cambie */
  box-shadow: none; /* Elimina cualquier sombra que pueda afectar el diseño */
}

/* Estilos cuando el usuario pasa el mouse por encima del botón */
.navbar .btn.btn-outline-primary:hover {
  background-color: #4a00e0; /* Cambia el color del fondo en hover */
  border-color: var(--color-accent); /* Cambia el color del borde en hover */
  transform: none; /* Elimina el desplazamiento cuando se pasa el mouse */
  padding: 0.5rem 1.2rem; /* Asegura que el padding no cambie */
}
