<!-- Este bloque está vacío (empty block) -->
<%= render "web/dashboard/campaigns/shared/block_toolbar" %>

<div class="text-muted small py-3">
  Bloque <strong><%= email_block.block_type %></strong> no disponible (aún)
</div>
