<section class="ui vertical segment faq-section" id="faq">
  <div class="ui container">

      
    <h2 class="ui header center aligned">Preguntas Frecuentes</h2>
    
    <div class="ui">
      <div class="ui styled accordion five wide column" style="margin-top: 3rem;">
        <div class="title">
          <i class="dropdown icon"></i>
          ¿Cómo empezar con MailerAction?
        </div>
        <div class="content">
          <p>
            ¡Es muy fácil! Solo necesitas registrarte, elegir un plan y empezar a crear tus campañas. Si eres nuevo en marketing por email, tenemos guías y tutoriales que te ayudarán a dar tus primeros pasos.
          </p>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          ¿Cuáles son los límites de los planes?
        </div>
        <div class="content">
          <p>
            Los límites de envíos dependen del plan contratado. En el plan gratuito tienes 30 créditos para comenzar, mientras que en los planes Pro y Empresas tendrás más envíos y funcionalidades avanzadas.
          </p>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          ¿Puedo cambiar de plan?
        </div>
        <div class="content">
          <p>
            ¡Sí! Puedes cambiar de plan en cualquier momento. Solo debes ir a la sección de "Planes" en tu panel de usuario y elegir el que más te convenga.
          </p>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          ¿Cómo funcionan los créditos?
        </div>
        <div class="content">
          <p>
            Cada vez que envías una campaña, se descuentan créditos de tu cuenta según la cantidad de correos enviados. Puedes comprar más créditos en cualquier momento desde tu cuenta.
          </p>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          ¿MailerAction asegura la entrega de los correos?
        </div>
        <div class="content">
          <p>
            Aunque no podemos garantizar al 100% que todos los correos lleguen a su destino, tenemos un sistema de correos verificados que asegura que tus mensajes lleguen a las bandejas de entrada válidas.
          </p>
        </div>
      </div>


      <div class="ui styled accordion five wide column" style="margin-top: 3rem;">

        <div class="title">
          <i class="dropdown icon"></i>
          ¿Puedo enviar campañas sin tener listas de correos propias?
        </div>
        <div class="content">
          <p>¡Sí! En MailerAction segmentamos los correos por rubros para que puedas enviar tus campañas sin necesidad de importar listas. Solo elegí el sector y el sistema se encarga del resto.</p>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          ¿Cómo se asegura MailerAction de que los correos son válidos?
        </div>
        <div class="content">
          <p>Utilizamos algoritmos automáticos de validación y limpieza para asegurar que los correos a los que enviás estén activos y sean públicos, mejorando la tasa de entrega.</p>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          ¿Cuántos créditos necesito para una campaña?
        </div>
        <div class="content">
          <p>Cada envío de correo electrónico consume 1 crédito. Por ejemplo, si querés enviar 500 correos, necesitás 500 créditos disponibles en tu cuenta.</p>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          ¿MailerAction permite automatizaciones?
        </div>
        <div class="content">
          <p>En los planes Pro y Empresa, podés crear automatizaciones para enviar correos en función del comportamiento del usuario, como aperturas o clics.</p>
        </div>

        <div class="title">
          <i class="dropdown icon"></i>
          ¿Qué métodos de pago aceptan?
        </div>
        <div class="content">
          <p>Aceptamos pagos con tarjeta de crédito, débito, Stripe, MercadoPago, PayPal y Transbank (Chile). También podés comprar créditos prepago según tu necesidad.</p>
        </div>

      </div>
    </div>

  </div>





  
</section>


<script>
  $(document).ready(function(){
    $('.ui.accordion').accordion();
  });
</script>
