<footer class="new-footer">
  <div class="ui container">
    <div class="row">
        <div class="col-12 col-md-3 aline-tex-left">
            <h4 class="ui header">Productos</h4>
            <ul class="list-unstyled">
            <li><a href="#">Email marketing</a></li>
            <li><a href="#">Automatizaciones</a></li>
            <li><a href="#">Sitios web</a></li>
            <li><a href="#">Integraciones</a></li>
            <li><a href="#">Comparar MailerAction</a></li>
            <li><a href="#">API para desarrolladores</a></li>
            <li><a href="#">Novedades</a></li>
            <li><a href="#">Estado</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-3 aline-tex-left">
            <h4 class="ui header">Atención al cliente</h4>
            <ul class="list-unstyled">
            <li><a href="#">Academia</a></li>
            <li><a href="#">Contratar a un experto</a></li>
            <li><a href="#">Migrar a MailerAction</a></li>
            <li><a href="#">Atención al cliente</a></li>
            <li><a href="#">Denunciar spam</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-3 aline-tex-left">
            <h4 class="ui header">Empresa</h4>
            <ul class="list-unstyled">
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Por qué MailerAction</a></li>
            <li><a href="#">Valores</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Contáctanos</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-3 aline-tex-left">
            <h4 class="ui header">Sigamos en contacto</h4>
            <p>Suscríbete para recibir novedades y consejos.</p>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Ingresa tu email" aria-label="Search">
                <button class="btn btn-outline-primary btn-sm" type="submit">Inscribete</button>
            </form>
            <div class="ui horizontal list social-icons" style="margin-top: 1rem ;">
                <a class="item" href="#"><script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/mfgntcqv.json"
                        trigger="loop"
                        state="loop-roll"
                        style="width:30px;height:30px">
                    </lord-icon>
                </a>
                <a class="item" href="#"><script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/jxntwvib.json"
                        trigger="loop"
                        state="loop-cycle"
                        style="width:30px;height:30px">
                    </lord-icon>
                </a>
                <a class="item" href="#"><script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/bnzbstbp.json"
                        trigger="loop"
                        state="loop-roll
                        style="width:30px;height:30px">
                    </lord-icon>
                </a>
                <a class="item" href="#"><script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/vcgyhoyv.json"
                        trigger="loop"
                        state="loop-roll"
                        style="width:30px;height:30px">
                    </lord-icon>
                </a>
            </div>
            
            <div class="aline-tex-right" style="margin-top: 2rem;">
            <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="App Store" style="height: 40px;">
            <img src="https://play.google.com/intl/en_us/badges/images/generic/es_badge_web_generic.png" alt="Google Play" style="height: 40px; margin-left: 1rem;">
            </div>
        </div>
    </div>
  </div>

  <hr class="my-4">

  <!-- Legal Section -->
  <div id="legal" class="ui container">
    <div class="row">
      <div class="col-12 col-md-9 aline-tex-left ">
        <p>© <%= Time.current.year %> MailerAction. Todos los derechos reservados.</p>
        <p>
          <a href="#">Condiciones del servicio</a> ·
          <a href="#">Política de privacidad</a> ·
          <a href="#">Configuración de cookies</a> ·
          <a href="#">Activos de marca</a>
        </p>
      </div>
      <div class="col-12 col-md-3 aline-tex-right aline-content-down">
        <i class="shield alternate icon large"></i>
        <p class="conforme">Conformidad con el RGPD. <br>Tus datos están seguros con nosotros.</p>
      </div>
    </div>
  </div>
</footer>
