<!-- FUNCIONALIDADES DESTACADAS -->
<section class="ui vertical segment funcionalidades-section ">
  <div class="ui container feature-section">
    <h2 class="ui header center aligned">¿Por qué elegir MailerAction?</h2>
    <div class="ui three column stackable grid" style="margin-top: 3rem;">
      <div class="column">
        <div class="ui icon header">
          <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/wyaqzesp.json"
              trigger="hover"
              state="hover-roll"
              style="width:100px;height:100px">
          </lord-icon><br>
          Segmentación Inteligente
        </div>
        <p>Envía tus campañas solo a los rubros relevantes. Evitá correos desperdiciados y mejorá la conversión.</p>
      </div>
      <div class="column">
        <div class="ui icon header">
          <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/twpfmtiv.json"
              trigger="loop"
              delay="2000"
              style="width:100px;height:100px">
          </lord-icon><br>
          Estadísticas en Tiempo Real
        </div>
        <p>Monitoreá aperturas, clics y rebotes. Ajustá tus campañas en el momento justo.</p>
      </div>
      <div class="column">
        <div class="ui icon header">
          <script src="https://cdn.lordicon.com/lordicon.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/zvamcipt.json"
              trigger="loop"
              delay="1500"
              state="in-unfold"
              style="width:100px;height:100px">
          </lord-icon><br>
          Correos Verificados
        </div>
        <p>Solo correos válidos. Nos aseguramos de que tus mensajes lleguen donde deben llegar.</p>
      </div>
    </div>
  </div>
</section>
