<section class="container hero-section" id="hero">
  <div class="row">
    <!-- Texto -->
    <div class="col-md-6">
      <h1 class="hero-title">
        <span>MailerAction</span>
      </h1>
      <h2 id="dynamic-heading" class="hero-dynamic-text">
        Campañas inteligentes que crecen contigo
      </h2>

      <p class="hero-subtitle">
        Llevá tus campañas de email marketing al siguiente nivel con automatización, análisis y segmentación inteligente.
      </p>

      <div class="hero-buttons">
        <a href="/login" class="btn btn-outline-primary" aria-label="Comenzar ahora">Comenzar ahora</a>
        <a href="#video" class="btn btn-outline-primary" aria-label="Ver cómo funciona">Ver cómo funciona</a>
      </div>
    </div>

    <!-- Imagen -->
    <div class="col-md-6">
      <%= image_tag '3.png', alt: 'Hero Image', class: 'hero-illustration' %>
    </div>
  </div>
</section>











