<section class="hero-redesign ui vertical stripe segment">
  <div class="ui stackable grid container">
    <div class="eight wide column">
      <h1 class="hero-title">
        <span>MailerAction</span><br>
         <!--<strong>Campañas inteligentes<br>que crecen con vos</strong> -->

          <h2 id="dynamic-heading" class="hero-dynamic-text">
            Campañas inteligentes que crecen con vos
          </h2>





      </h1>
      <p class="hero-subtitle">
        Llevá tus campañas de email marketing al siguiente nivel con automatización, análisis y segmentación inteligente.
      </p>

      <div class="ui stackable buttons" >
        <a href="/login" class="ui huge primary button" style="align-items: center;">Comenzar ahora
        
        <a href="#video" class="ui huge basic violet button">Ver cómo funciona</a>
      </div>
    </div>

    <div class="eight wide column">
      <%= image_tag '3.png', alt: 'Hero Image', class: 'hero-illustration' %>
    </div>
  </div>
</section>