<!-- Sidebar temporal -->
<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to "Dashboard", web_dashboard_dashboard_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Campañas", web_dashboard_campaigns_dashboard_path, class: "nav-link" %>
  </li>
</ul>