<section id="video" class="ui vertical stripe segment animate-fade-in">
  <div class="ui container">
    <h2 class="ui header center aligned">¿Cómo funciona MailerAction?</h2>

    <!-- Incrustar el video de YouTube -->
    <div class="ui embed" data-source="youtube" data-id="dPAL7_FuQ8M" data-placeholder="https://img.youtube.com/vi/dPAL7_FuQ8M/hqdefault.jpg"></div>
  </div>
  
</div>
</section>

<script>
  $(document).ready(function() {
    $('.ui.embed').embed(); // Activa el video
  });
</script>
