<!-- app/views/web/dashboard/inspector/navigation/_logo_property.html.erb -->
<!-- Propiedades para logo -->
<div>
  <h6 class="fw-bold mb-2">Logo Properties</h6>
  <div class="mb-3">
    <label class="form-label">Logo URL</label>
    <input type="text" class="form-control form-control-sm"
            value="https://placehold.co/32x32?text=Logo"
            data-action="input->inspector#updateLogoUrl"
            data-inspector-target="logoUrl"
            />
  </div>
  <div class="mb-3">
    <label class="form-label">Company Name</label>
    <input type="text" class="form-control form-control-sm"
            value="Company"
            data-action="input->inspector#updateLogoName"
            data-inspector-target="logoName"
          />
  </div>
</div>
