<h1>Panel de Administración</h1>
<p>Bienvenido  Este es el dashboard de administrador.</p>


<button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#test-collapse">
  Toggle test
</button>
<div id="test-collapse" class="collapse">¡Funciona!</div>
