<h1>Panel de Administración</h1>




        <!-- Layout container -->
        
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>



            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->

                <li class="nav-item dropdown-language dropdown me-2 me-xl-0">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="icon-base bx bx-globe icon-md"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item active" href="javascript:void(0);" data-language="en" data-text-direction="ltr">
                        <span>English</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-language="fr" data-text-direction="ltr">
                        <span>French</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-language="ar" data-text-direction="rtl">
                        <span>Arabic</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-language="de" data-text-direction="ltr">
                        <span>German</span>
                      </a>
                    </li>
                  </ul>
                </li>   
                <li class="nav-item lh-1 me-3">
                  <%= link_to "Star", "https://github.com/themeselection/sneat-html-admin-template-free",
                              class: "github-button",
                              data: { icon: "octicon-star", size: "large", show_count: "true" },
                              aria: { label: "Star themeselection/sneat-html-admin-template-free on GitHub" },
                              target: "_blank", rel: "noopener" %>
                </li>





                
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <%= image_tag "avatars/1.png", alt: "", class: "w-px-40 h-auto rounded-circle" %>
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <%= image_tag "avatars/1.png", alt: "", class: "w-px-40 h-auto rounded-circle" %>
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">John Doe</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="auth-login-basic.html">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>




          <!-- barra opciocones inicial -->





          
            <div class= "container-xxl flex-grow-1 container-p-y">
              <div class="row g-6 mb-6">
                <div class="col-lg-3 col-sm-6">
                  <div class="card card-border-shadow-primary h-100">
                    <div class="card-body">
                      <div class="d-flex align-items-center mb-2">
                        <div class="avatar me-4">
                          <span class="avatar-initial rounded bg-label-primary"><i class="icon-base bx bxs-truck icon-lg"></i></span>
                        </div>
                        <h4 class="mb-0">42</h4>
                      </div>
                      <p class="mb-2">On route vehicles</p>
                      <p class="mb-0">
                        <span class="text-heading fw-medium me-2">+18.2%</span>
                        <span class="text-body-secondary">than last week</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="card card-border-shadow-warning h-100">
                    <div class="card-body">
                      <div class="d-flex align-items-center mb-2">
                        <div class="avatar me-4">
                          <span class="avatar-initial rounded bg-label-warning"><i class="icon-base bx bx-error icon-lg"></i></span>
                        </div>
                        <h4 class="mb-0">8</h4>
                      </div>
                      <p class="mb-2">Vehicles with errors</p>
                      <p class="mb-0">
                        <span class="text-heading fw-medium me-2">-8.7%</span>
                        <span class="text-body-secondary">than last week</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="card card-border-shadow-danger h-100">
                    <div class="card-body">
                      <div class="d-flex align-items-center mb-2">
                        <div class="avatar me-4">
                          <span class="avatar-initial rounded bg-label-danger"><i class="icon-base bx bx-git-repo-forked icon-lg"></i></span>
                        </div>
                        <h4 class="mb-0">27</h4>
                      </div>
                      <p class="mb-2">Deviated from route</p>
                      <p class="mb-0">
                        <span class="text-heading fw-medium me-2">+4.3%</span>
                        <span class="text-body-secondary">than last week</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="card card-border-shadow-info h-100">
                    <div class="card-body">
                      <div class="d-flex align-items-center mb-2">
                        <div class="avatar me-4">
                          <span class="avatar-initial rounded bg-label-info"><i class="icon-base bx bx-time-five icon-lg"></i></span>
                        </div>
                        <h4 class="mb-0">13</h4>
                      </div>
                      <p class="mb-2">Late vehicles</p>
                      <p class="mb-0">
                        <span class="text-heading fw-medium me-2">-2.5%</span>
                        <span class="text-body-secondary">than last week</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>





















              <div class="card">
                <div class="card-header border-bottom">
                  <h5 class="card-title mb-0">List User</h5>
                  <div class="d-flex justify-content-between align-items-center row pt-4 gap-md-0 g-6">
                    <div class="col-md-4 user_role"><select id="UserRole" class="form-select text-capitalize"><option value="">Select Role</option><option value="Admin">Admin</option><option value="Author">Author</option><option value="Editor">Editor</option><option value="Maintainer">Maintainer</option><option value="Subscriber">Subscriber</option></select></div>
                    <div class="col-md-4 user_plan"><select id="UserPlan" class="form-select text-capitalize"><option value="">Select Plan</option><option value="Basic">Basic</option><option value="Company">Company</option><option value="Enterprise">Enterprise</option><option value="Team">Team</option></select></div>
                    <div class="col-md-4 user_status"><select id="FilterTransaction" class="form-select text-capitalize"><option value="">Select Status</option><option value="Pending" class="text-capitalize">Pending</option><option value="Active" class="text-capitalize">Active</option><option value="Inactive" class="text-capitalize">Inactive</option></select></div>
                  </div>
                </div>
                <div class="card-datatable" data-controller="responsive">
                  <div id="DataTables_Table_0_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                    <div class="row mx-3 my-0 justify-content-between">
                      <div class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto mt-0">
                        <div class="dt-length mb-md-6 mb-0">
                          <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select ms-0" id="dt-length-0">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          <label for="dt-length-0"></label>
                        </div>
                      </div>
                    <div class="d-md-flex align-items-center dt-layout-end col-md-auto ms-auto d-flex gap-md-4 justify-content-md-between justify-content-center gap-4 flex-wrap mt-0">
                      <div class="dt-search mb-md-6 mb-2">
                        <input type="search" class="form-control" id="dt-search-0" placeholder="Search User" aria-controls="DataTables_Table_0">
                        <label for="dt-search-0"></label>
                      </div>
                    <div class="dt-buttons btn-group flex-wrap d-flex gap-4 mb-md-0 mb-6">
                  <div class="btn-group">
                    <button class="btn buttons-collection btn-label-secondary dropdown-toggle" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog" aria-expanded="false"><span>
                      <span class="d-flex align-items-center gap-2">
                        <i class="icon-base bx bx-export icon-sm"></i> 
                        <span class="d-none d-sm-inline-block">Export</span>
                      </span>
                    </button>
                  </div>
                  <button class="btn add-new btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser">
                    <span>
                      <i class="icon-base bx bx-plus icon-sm me-0 me-sm-2"></i>
                      <span class="d-none d-sm-inline-block">Add New User</span>
                    </span>
                  </button> 
                </div>
              </div>
            </div>





















                  <div class="justify-content-between dt-layout-table">
                    <div class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive"><table class="datatables-users table border-top dataTable dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;"><colgroup><col data-dt-column="0" style="width: 52.3125px;"><col data-dt-column="1" style="width: 63.2188px;"><col data-dt-column="2" style="width: 302.828px;"><col data-dt-column="3" style="width: 155.438px;"><col data-dt-column="4" style="width: 122.203px;"></colgroup>
                    <thead data-controller="responsive">
                      <tr>
                        <th data-dt-column="0" class="control dt-orderable-none" rowspan="1" colspan="1"></th>

                        <th data-dt-column="1" data-responsive-target="column" class="dt-select dt-orderable-none dtr-hidden" ></th>

                        <th data-dt-column="2" class="dt-orderable-asc dt-orderable-desc dt-ordering-desc">
                          <span class="dt-column-title" role="button">User</span>
                        </th>

                        <th data-dt-column="3" data-responsive-target="column" class="dt-orderable-asc dt-orderable-desc dtr-hidden" style="display: none;">
                          <span class="dt-column-title" role="button">Role</span>
                        </th>

                        <th data-dt-column="4" data-responsive-target="column" class="dt-orderable-asc dt-orderable-desc dtr-hidden" style="display: none;">
                          <span class="dt-column-title" role="button">Plan</span>
                        </th>

                        <th data-dt-column="5" data-responsive-target="column" class="dt-orderable-asc dt-orderable-desc dtr-hidden" style="display: none;">
                          <span class="dt-column-title" role="button">Billing</span>
                        </th>

                        <th data-dt-column="6" data-responsive-target="column" class="dt-orderable-asc dt-orderable-desc dtr-hidden" style="display: none;">
                          <span class="dt-column-title" role="button">Status</span>
                        </th>

                        <th data-dt-column="7" data-responsive-target="column" class="dt-orderable-none dtr-hidden" style="display: none;">
                          <span class="dt-column-title">Actions</span>
                        </th>
                      </tr>
                    </thead>

                    <tbody data-controller="responsive">
                      <tr class="">
                        <td class="control" tabindex="0" style="">
                          <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </td>
                        <td class="dt-select dtr-hidden" style="display: none;" data-responsive-target="column">
                          <input aria-label="Select row" class="form-check-input" type="checkbox">
                        </td>
                        <td class="sorting_1">
                          <div class="d-flex justify-content-start align-items-center user-name">
                            <div class="avatar-wrapper">
                              <div class="avatar avatar-sm me-4">
                                <span class="avatar-initial rounded-circle bg-label-success">SM</span>
                              </div>
                            </div>
                            <div class="d-flex flex-column">
                              <a href="app-user-view-account.html" class="text-heading text-truncate">
                                <span class="fw-medium">Zsazsa McCleverty</span>
                              </a>
                              <small>zmcclevertye@soundcloud.com</small>
                            </div>
                          </div>
                        </td>
                        <td class="dtr-hidden" style="display: none;" data-responsive-target="column">
                          <span class="text-truncate d-flex align-items-center text-heading">
                            <i class="icon-base bx bx-user text-success me-2"></i>Maintainer
                          </span>
                        </td>
                        <td class="dtr-hidden" style="display: none;" data-responsive-target="column">
                          <span class="text-heading">Enterprise</span>
                        </td>
                        <td class="dtr-hidden" style="display: none;" data-responsive-target="column">Auto Debit</td>
                        <td class="dtr-hidden" style="display: none;" data-responsive-target="column">
                          <span class="badge bg-label-success" text-capitalized="">Active</span>
                        </td>
                        <td class="dtr-hidden" style="display: none;" data-responsive-target="column">
                          <div class="d-flex align-items-center">
                            <a href="javascript:;" class="btn btn-icon delete-record">
                              <i class="icon-base bx bx-trash icon-md"></i>
                            </a>
                            <a href="app-user-view-account.html" class="btn btn-icon">
                              <i class="icon-base bx bx-show icon-md"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="icon-base bx bx-dots-vertical-rounded icon-md"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end m-0">
                              <a href="javascript:;" class="dropdown-item">Edit</a>
                              <a href="javascript:;" class="dropdown-item">Suspend</a>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr class="">
                        <td class="control" tabindex="0" style="">
                          <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </td>
                        <td class="dt-select dtr-hidden" style="display: none;" data-responsive-target="column">
                          <input aria-label="Select row" class="form-check-input" type="checkbox">
                        </td>
                        <td class="sorting_1">
                          <div class="d-flex justify-content-start align-items-center user-name">
                            <div class="avatar-wrapper">
                              <div class="avatar avatar-sm me-4">
                                <span class="avatar-initial rounded-circle bg-label-dark">VK</span>
                              </div>
                            </div>
                            <div class="d-flex flex-column">
                              <a href="app-user-view-account.html" class="text-heading text-truncate">
                                <span class="fw-medium">Yoko Pottie</span>
                              </a>
                              <small>ypottiec@privacy.gov.au</small>
                            </div>
                          </div>
                        </td>
                        <td class="dtr-hidden" style="display: none;" data-responsive-target="column">
                          <span class="text-truncate d-flex align-items-center text-heading">
                            <i class="icon-base bx bx-crown text-primary me-2"></i>Subscriber
                          </span>
                        </td>
                        <td class="dtr-hidden" style="display: none;" data-responsive-target="column">
                          <span class="text-heading">Basic</span>
                        </td>
                        <td class="dtr-hidden" style="display: none;" data-responsive-target="column">Auto Debit</td>
                        <td class="dtr-hidden" style="display: none;" data-responsive-target="column">
                          <span class="badge bg-label-secondary" text-capitalized="">Inactive</span>
                        </td>
                        <td class="dtr-hidden" style="display: none;" data-responsive-target="column">
                          <div class="d-flex align-items-center">
                            <a href="javascript:;" class="btn btn-icon delete-record">
                              <i class="icon-base bx bx-trash icon-md"></i>
                            </a>
                            <a href="app-user-view-account.html" class="btn btn-icon">
                              <i class="icon-base bx bx-show icon-md"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="icon-base bx bx-dots-vertical-rounded icon-md"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end m-0">
                              <a href="javascript:;" class="dropdown-item">Edit</a>
                              <a href="javascript:;" class="dropdown-item">Suspend</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>






                    <tfoot></tfoot>
                  </table>
                  </div> <!-- .table-responsive -->
                  </div> <!-- .dt-layout-table -->

                  <div class="row mx-3 justify-content-between">
                    <!-- Info (left) -->
                    <div class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto mt-0">
                      <div class="dt-info" aria-live="polite" id="DataTables_Table_0_info" role="status">
                        Showing 1 to 10 of 50 entries
                      </div>
                    </div>

                    <!-- Paginación (right) -->
                    <div class="d-md-flex align-items-center dt-layout-end col-md-auto ms-auto d-flex gap-md-4 justify-content-md-between justify-content-center gap-4 flex-wrap mt-0">
                      <div class="dt-paging">
                        <nav aria-label="pagination">
                          <ul class="pagination">
                            <li class="dt-paging-button page-item disabled">
                              <button class="page-link previous" role="link" type="button" aria-controls="DataTables_Table_0" aria-disabled="true" aria-label="Previous" data-dt-idx="previous" tabindex="-1">
                                <i class="icon-base bx bx-chevron-left icon-18px"></i>
                              </button>
                            </li>
                            <li class="dt-paging-button page-item active">
                              <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0" aria-current="page" data-dt-idx="0">1</button>
                            </li>
                            <li class="dt-paging-button page-item">
                              <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0" data-dt-idx="1">2</button>
                            </li>
                            <li class="dt-paging-button page-item">
                              <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0" data-dt-idx="2">3</button>
                            </li>
                            <li class="dt-paging-button page-item">
                              <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0" data-dt-idx="3">4</button>
                            </li>
                            <li class="dt-paging-button page-item">
                              <button class="page-link" role="link" type="button" aria-controls="DataTables_Table_0" data-dt-idx="4">5</button>
                            </li>
                            <li class="dt-paging-button page-item">
                              <button class="page-link next" role="link" type="button" aria-controls="DataTables_Table_0" aria-label="Next" data-dt-idx="next">
                                <i class="icon-base bx bx-chevron-right icon-18px"></i>
                              </button>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>

























            
                  <!-- Offcanvas to add new user -->
                  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser" aria-labelledby="offcanvasAddUserLabel">
                    <div class="offcanvas-header border-bottom">
                      <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add User</h5>
                      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body mx-0 flex-grow-0 p-6 h-100">
                      <form class="add-new-user pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="addNewUserForm" onsubmit="return false" novalidate="novalidate">
                        <div class="mb-6 form-control-validation fv-plugins-icon-container">
                          <label class="form-label" for="add-user-fullname">Full Name</label>
                          <input type="text" class="form-control" id="add-user-fullname" placeholder="John Doe" name="userFullname" aria-label="John Doe">
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
                        <div class="mb-6 form-control-validation fv-plugins-icon-container">
                          <label class="form-label" for="add-user-email">Email</label>
                          <input type="text" id="add-user-email" class="form-control" placeholder="john.doe@example.com" aria-label="john.doe@example.com" name="userEmail">
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
                        <div class="mb-6">
                          <label class="form-label" for="add-user-contact">Contact</label>
                          <input type="text" id="add-user-contact" class="form-control phone-mask" placeholder="+1 (609) 988-44-11" aria-label="john.doe@example.com" name="userContact">
                        </div>
                        <div class="mb-6">
                          <label class="form-label" for="add-user-company">Company</label>
                          <input type="text" id="add-user-company" class="form-control" placeholder="Web Developer" aria-label="jdoe1" name="companyName">
                        </div>
                        <div class="mb-6">
                          <label class="form-label" for="country">Country</label>
                          <div class="position-relative"><select id="country" class="select2 form-select select2-hidden-accessible" data-select2-id="country" tabindex="-1" aria-hidden="true">
                            <option value="" data-select2-id="2">Select</option>
                            <option value="Australia">Australia</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Canada">Canada</option>
                            <option value="China">China</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Japan">Japan</option>
                            <option value="Korea">Korea, Republic of</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Russia">Russian Federation</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                          </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 352px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-country-container"><span class="select2-selection__rendered" id="select2-country-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">Select Country</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></div>
                        </div>
                        <div class="mb-6">
                          <label class="form-label" for="user-role">User Role</label>
                          <select id="user-role" class="form-select">
                            <option value="subscriber">Subscriber</option>
                            <option value="editor">Editor</option>
                            <option value="maintainer">Maintainer</option>
                            <option value="author">Author</option>
                            <option value="admin">Admin</option>
                          </select>
                        </div>
                        <div class="mb-6">
                          <label class="form-label" for="user-plan">Select Plan</label>
                          <select id="user-plan" class="form-select">
                            <option value="basic">Basic</option>
                            <option value="enterprise">Enterprise</option>
                            <option value="company">Company</option>
                            <option value="team">Team</option>
                          </select>
                        </div>
                        <button type="submit" class="btn btn-primary me-3 data-submit">Submit</button>
                        <button type="reset" class="btn btn-label-danger" data-bs-dismiss="offcanvas">Cancel</button>
                      <input type="hidden"></form>
                    </div>
                  </div>
                </div>





















            </div>
            









