<div class="row">
  <div class="col-md-3">
    <%= render "web/dashboard/campaigns/shared/sidebar_create_campaign" %>
  </div>
  <div class="col-md-9">
    <%= render "web/dashboard/campaigns/shared/canvas_create_campaign" %>
  </div>
</div>