.navbar-wrapper {
  width: 100%;
  background-color: #fff;
  padding: 1rem 0;
  z-index: 1000;
}


/* Ajuste para íconos del menú de navegación */
.navbar-wrapper .ui.menu .dropdown .menu .item i.icon {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
  width: 1.2em; /* más estrecho */
}



.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111827;
}

.logo-text .highlight {
  color: #7c3aed;
}

.navbar-links {
  display: flex;
  /*gap: 2rem;*/
}

.navbar-actions {
  display: flex;
  align-items: center;
  /*gap: 1rem;*/
}

.language-selector .menu {
  min-width: 160px;
}

.ui.button.primary {
  background-color: #7c3aed;
  color: white;
  border: none !important;
  font-weight: bold;
}

.ui.button.primary:hover {
  background-color: #6d28d9;
}

.ui.button.outline {
  background: transparent;
  border: 2px solid #7c3aed;
  color: #7c3aed;
  font-weight: bold;
}

.ui.button.outline:hover {
  background-color: #f3e8ff;
}

.mobile-menu-toggle {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background: white;
  padding: 1rem;
}

.mobile-menu a {
  margin-bottom: 1rem;
}

.mobile-menu.active {
  display: flex;
}

@media (max-width: 768px) {
  .navbar-links,
  .navbar-actions {
    display: none;
  }

  .mobile-menu-toggle {
    display: block;
  }
}
