<!-- app/views/web/dashboard/campaigns/shared/_canvas_create_campaign.html.erb -->
<div class="d-flex" style="height: 100vh;">
  <!-- Sidebar izquierdo -->


  <!-- Lienzo editable central -->
   <div class="flex-grow-1 px-6"  style="min-width:0;">
    <!-- Contenedor canvas principal, con Stimulus controller 'canvas' y target 'area' -->
          <!-- Bloque vacío inicial o mensaje -->

    <div id="email-canvas"
      class="p-4 bg-white border rounded h-full overflow-auto canvas-area">
      <!-- Aquí se renderizan los bloques (en edición/carga) -->
      <div id="canvas-area-blocks" data-controller="canvas" data-canvas-target="area">
        <%= render "web/dashboard/campaigns/shared/default_email_template" %>
      </div>
    </div>
  </div>
</div>
