<!-- app/views/layouts/shared/_sidebar_create_campaign.html.erb -->

<aside id="drag-sidebar" class="sidebar p-3 bg-dark text-white" data-controller="drag">
  <div class="input-group mb-3">
    <input type="text" class="form-control form-control-sm" placeholder="Search.." />
  </div>

  <ul class="list-unstyled">
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bx-bookmark me-2"></i>
      <span>Saved blocks</span>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bx-menu-alt-left me-2"></i>
      <span>Navigation</span>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bx-layout me-2"></i>
      <span>Hero</span>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bx-columns me-2"></i>
      <span>Sections</span>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bx-font me-2"></i>
      <span>Elements</span>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bx-cursor me-2"></i>
      <span>Content</span>
    </li>
    <hr class="bg-secondary">
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bx-cube me-2"></i>
      <span>Special</span>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bx-purchase-tag-alt me-2"></i>
      <span>E-commerce</span>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bx-image-alt me-2"></i>
      <span>Gallery</span>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bx-rss me-2"></i>
      <span>Blog and RSS</span>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bxl-twitter me-2"></i>
      <span>Social and sharing</span>
    </li>
    <li class="mb-2 d-flex align-items-center">
      <i class="bx bx-footer me-2"></i>
      <span>Footer</span>
    </li>
  </ul>
</aside>
